<section id='vigilente' class='section-dark section-phone vigilente-section'>
  <div class='wrapper'>
    <article>
      <%= image_tag('urna_mapache_mobile.png', alt: I18n.t(:phone_welcome), class: 'vigilente-phone-mobile') %>

      <%= image_tag('phone_01.png', alt: I18n.t(:phone_welcome), class: 'section-phone-image vigilente-phone') %>

      <div class='section-content'>
        <h1>
          <%= image_tag('logo_top.png', alt: I18n.t(:vigilente_title)) %>
        </h1>

        <p class='vigilente-description'><%= I18n.t(:we_need_you) %></p>

        <%= render partial: 'subscriptions/subscription_form', locals: { klass: '' }%>
    </article>
  </div>
</section>

<section id='build' class='section-light section-phone build-section'>
  <div class='wrapper'>
    <article>
      <%= image_tag('group_mobile.png', alt: I18n.t(:phone_vigilente), class: 'build-phone-mobile') %>

      <%= image_tag('phone_02.png', alt: I18n.t(:phone_vigilente), class: 'section-phone-image build-phone') %>

      <div class='section-content'>
        <h2>
          <%= image_tag('logo_top_02.png', alt: I18n.t(:vigilente_title)) %>
        </h2>

        <p class='build-description'><%= raw(I18n.t(:build)) %></p>

        <%= render partial: 'subscriptions/subscription_form', locals: { klass: 'build-legend' }%>
      </div>
    </article>
  </div>
</section>

<section id='how' class='section-dark'>
  <div class='wrapper how-wrapper'>

    <h2 class='how-title'><%= I18n.t(:how_it_works) %></h2>
    <article class='how-article right-border'>
      <header>
        <%= image_tag('icono_captura.png', alt: I18n.t(:image, scope: :capture), class: 'how-image') %>
        <h3 class='how-subtitle'><%= I18n.t(:title, scope: :capture) %></h3>
      </header>
      <p class='how-body'><%= raw(I18n.t(:body, scope: :capture)) %></p>
    </article>

    <article class='how-article right-border'>
      <header>
        <%= image_tag('icono_describe.png', alt: I18n.t(:image, scope: :describe), class: 'how-image') %>
        <h3 class='how-subtitle'><%= I18n.t(:title, scope: :describe) %></h3>
      </header>
      <p class='how-body'><%= raw(I18n.t(:body, scope: :describe)) %></p>
    </article>

    <article class='how-article borderless'>
      <header>
        <%= image_tag('icono_reporta.png', alt: I18n.t(:image, scope: :report), class: 'how-image') %>
        <h3 class='how-subtitle'><%= I18n.t(:title, scope: :report) %></h3>
      </header>
      <p class='how-body'><%= raw(I18n.t(:body, scope: :report)) %></p>
    </article>

    <article class='how-article-consult top-border'>
      <%= image_tag('consulta_imagen.png', alt: I18n.t(:image, scope: :consult), class: 'how-image-consult') %>
      <div class='how-article-consult-content'>
        <h3 class='how-subtitle'><%= I18n.t(:title, scope: :consult) %></h3>
        <p class='how-body'><%= raw(I18n.t(:body, scope: :consult)) %></p>
      </div>
    </article>
  </div>
</section>

<section id='colima' class='section-light colima'>
  <div class='wrapper'>

    <article>
      <%= link_to image_tag('logo_vamos_colima.jpg', alt: I18n.t(:como_vamos), class: 'center'), 'http://comovamoscolima.org/' %>
      <%= image_tag('hashtag_vamos_colima.jpg', alt: I18n.t(:como_vamos_twitter), class: 'center') %>
    </div>
  </div>
</section>
