<section id='colima' class="<%= klass %>">
  <div class='wrapper'>
    <h3 class='colima-disclaimer'><%= raw I18n.t(:disclaimer, scope: :colima) %></h3>
    <article class='colima-participant'>
      <%= link_to image_tag('coparmex.png', alt: I18n.t(:coparmex, scope: :colima), class: 'center'), 'http://www.coparmex-colima.org.mx' %>
    </article>

    <div>
      <%= link_to image_tag('icono_facebook.png'), 'https://www.facebook.com/vigilentemx', class: 'colima-social', target: '_blank' %>
      <%= link_to image_tag('icono_twitter.png'), 'https://twitter.com/vigilentemx', class: 'colima-social', target: '_blank' %>
      <strong class='colima-vigilentemx'>vigilentemx</strong>
    </div>

  </div>
</section>
