<article class='how-article right-border'>
  <header>
    <%= image_tag('icono_captura.png', alt: I18n.t(:image, scope: :capture), class: 'how-image') %>
    <h3 class='how-subtitle'><%= I18n.t(:title, scope: :capture) %></h3>
  </header>
  <p class='how-body'><%= raw(I18n.t(:body, scope: :capture)) %></p>
</article>

<article class='how-article right-border'>
  <header>
    <%= image_tag('icono_describe.png', alt: I18n.t(:image, scope: :describe), class: 'how-image') %>
    <h3 class='how-subtitle'><%= I18n.t(:title, scope: :describe) %></h3>
  </header>
  <p class='how-body'><%= raw(I18n.t(:body, scope: :describe)) %></p>
</article>

<article class='how-article borderless'>
  <header>
    <%= image_tag('icono_reporta.png', alt: I18n.t(:image, scope: :report), class: 'how-image') %>
    <h3 class='how-subtitle'><%= I18n.t(:title, scope: :report) %></h3>
  </header>
  <p class='how-body'><%= raw(I18n.t(:body, scope: :report)) %></p>
</article>

