<li class='reports-crime js-crime'>
  <%= link_to image_tag('close_icon.png'), '#', class: 'reports-crime-close js-crime-close' %>

  <b class='reports-crime-counter'>3</b>
  <div class='reports-crime-images'>
    <%= link_to image_tag('dummy.png', alt: 'image_1', class: 'reports-crime-image'),
      image_url('dummy.png'),
      class: 'js-crime-image' %>
    <%= link_to image_tag('dummy.png', alt: 'image_1', class: 'reports-crime-image'),
      image_url('dummy.png'),
      class: 'js-crime-image' %>
    <%= link_to image_tag('dummy.png', alt: 'image_1', class: 'reports-crime-image'),
      image_url('dummy.png'),
      class: 'js-crime-image' %>
    <figcaption class='reports-image-caption'>2 images</figcaption>
  </div>

  <div class='reports-crime-description'>
    <h3 class='reports-crime-description-title'>Compra de votos</h3>
    <p class='reports-crime-description-text'>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
      laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
      architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
      voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
    </p>
    <%= link_to I18n.t(:view_more, scope: [:reports, :main]), '#', class: 'reports-crime-description-more js-crime-more'%>
  </div>
</li>

