<li class='reports-crime'>
  <%= link_to image_tag('close_icon.png'), '#', class: 'reports-crime-close' %>

  <b class='reports-crime-counter'>3</b>
  <figure class='reports-crime-images'>
    <%= image_tag('dummy.png', alt: 'image_1') %>
    <%= image_tag('dummy.png', alt: 'image_2') %>
    <%= image_tag('dummy.png', alt: 'image_3') %>
    <figcaption class='reports-image-caption'>2 images</figcaption>
  </figure>
  <div class='reports-crime-description'>
    <h3 class='reports-crime-description-title'>Compra de votos</h3>
    <p class='reports-crime-description-text'>Dummy awa ko nore su</p>
    <%= link_to I18n.t(:view_more, scope: [:reports, :main]), '#', class: 'reports-crime-description-more'%>
  </div>
</li>

