<header class='reports-header'>
  <h1 class='reports-header-title'><%= image_tag('logo_top.png', alt: I18n.t(:vigilente_title)) %></h1>
  <%= link_to image_tag('menu_icon.png', alt: I18n.t(:burguer, scope: [:reports, :header])), '#', class: 'reports-header-burguer js-nav-toggle' %>
  <nav class='reports-header-nav'>
    <%= link_to I18n.t(:about, scope: [:reports, :header]), '#', class: 'reports-header-about js-popup' %>
    <%= link_to I18n.t(:consult, scope: [:reports, :header]), '#', class: 'reports-header-consult' %>
  </nav>
</header>

<div class='reports-content'>
  <%= render partial: 'nav' %>

  <main class='section-reports'>
    <%= render partial: 'about_popup' %>

    <section class='sections-map'>
      <h2 class='reports-map-title'><%= I18n.t(:map_title, scope: [:reports, :main]) %></h2>
      <div id='map-canvas' class='reports-map'></div>
    </section>

    <section class='sections-crimes js-crimes'>
      <%= render partial: 'crimes_header' %>

      <ul class='reports-crimes-list'>
        <%= render partial: 'crime_item' %>
        <%= render partial: 'crime_item' %>
        <%= render partial: 'crime_item' %>
        <%= render partial: 'crime_item' %>
      </ul>

      <%= render partial: 'crimes_footer' %>
    </section>

    <%= render partial: 'colima', locals: { klass: 'reports-colima' } %>
    <%= render partial: 'footer' %>

  </main>
</div>

<%- content_for :javascripts do %>
  <%= render partial: 'map_scripts' %>

  <script>
    $(document).ready(function(){
      new (Vigilente.Popup)({ popup: $('#about-popup'), triggers: $('.js-popup') });
      new (Vigilente.Crimes)({ list: $('.js-crimes') });
      new (Vigilente.SlideMenu)({ menu: $('.reports-nav'), triggers: $('.js-nav-toggle') });
    });
  </script>


<% end %>
