<header class='reports-header'>
  <h1 class='reports-header-title'><%= image_tag('logo_top.png', alt: I18n.t(:vigilente_title)) %></h1>
  <nav class='reports-header-nav'>
    <%= link_to I18n.t(:about, scope: [:reports, :header]), '#', class: 'reports-header-about' %>
    <%= link_to I18n.t(:consult, scope: [:reports, :header]), '#', class: 'reports-header-consult' %>
  </nav>
</header>
<nav>
  <h2><%= I18n.t(:title, scope: [:reports, :nav]) %></h2>
  <%= link_to I18n.t(:all, scope: [:reports, :nav]), '#'%>
  <%= link_to I18n.t(:publicity, scope: [:reports, :nav]), '#'%>
  <%= link_to I18n.t(:racoons, scope: [:reports, :nav]), '#'%>
  <%= link_to I18n.t(:violence, scope: [:reports, :nav]), '#'%>
  <%= link_to I18n.t(:buy, scope: [:reports, :nav]), '#'%>
  <%= link_to I18n.t(:credentials, scope: [:reports, :nav]), '#'%>
  <%= link_to I18n.t(:gifts, scope: [:reports, :nav]), '#'%>
</nav>
<main>
  <section>
    <h2><%= I18n.t(:map_title, scope: [:reports, :main]) %></h2>
    <div id="map-canvas" class=""></div>
  </section>
  <section>
    <header>
      <h2><%= I18n.t(:list_title, scope: [:reports, :main]) %></h2>
      <div>
        <p><%= I18n.t(:description, scope: [:reports, :main]) %></p>
        <%= link_to image_tag('appstore_icon_black.png', alt: I18n.t(:app_store)), '#' %>
        <%= link_to image_tag('playstore_icon_black.png', alt: I18n.t(:google_play)), '#' %>
      </div>
    </header>
    <ul>
      <li>
        <b>3</b>
        <figure>
          <%= image_tag('dummy.png', alt: 'image_1')%>
          <figcaption>2 images</figcaption>
        </figure>
        <div>
          <h3>Compra de votos</h3>
          <p>Dummy awa ko nore su</p>
          <%= link_to I18n.t(:view_more, scope: [:reports, :main]), '#'%>
        </div>
      </li>
    </ul>
    <nav>
      <%= link_to I18n.t(:prev, scope: [:reports, :main]), '#' %>
      <%= link_to I18n.t(:next, scope: [:reports, :main]), '#' %>
    </nav>
  </section>
  <%= render partial: 'colima', locals: { klass: '' } %>
  <%= render partial: 'footer' %>
</main>

<%- content_for :javascripts do %>
  <%= render partial: 'map_scripts' %>
<% end %>
